services:
  otp:
    image: opentripplanner/opentripplanner:2.8.1
    container_name: otp
    ports:
      - "8080:8080"
    environment:
      - JAVA_TOOL_OPTIONS=-Xms8G -Xmx8G
    volumes:
      - ./otp:/var/opentripplanner
    command: ["--build", "--serve"]
